<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {{> includes/head }}
</head>

<body class="theme-3 theme3_bg ">
    {{> includes/header }}

    <!--::::: TOTAL AREA START :::::::-->
    <div class="total3 mb30">
        <div class="space-30"></div>
        {{{body}}}
    </div>
    <!--::::: TOTAL AREA END :::::::-->

    <!--::::: FOOTER AREA START :::::::-->
    {{> includes/footer }}
    {{> includes/script }}
    <!--::::: FOOTER AREA END :::::::-->

</body>



</html>