<div class="container space-1 mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="overflow-hidden">
                <div class="js-scrollbar pr-3" style="max-height: 300px;">
                    <!-- Activity Feed -->
                    <ul class="list-unstyled u-indicator-vertical-dashed">
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                        <li class="media u-indicator-vertical-dashed-item">
                            <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                <span class="btn-icon__inner">A</span>
                            </span>
                            <div class="media-body">
                                <h5 class="font-size-1 mb-1">Amanta Owens</h5>
                                <p class="small mb-1">Added new task: <span class="font-weight-medium">Slack
                                        home page redesign</span></p>
                            </div>
                        </li>
                    </ul>
                    <!-- End Activity Feed -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body shadow-soft p-5 pt-2">
                    {{> common/form }}
                </div>
            </div>
        </div>
    </div>
</div>